//Mobile and Desktop Styles
.nav-btn {
  font-family: our-font-bold;
  font-size: var(--font-size-small);
  cursor: pointer;
  transition: color var(--hover-transition-time);
  &:hover {
    color: var(--light-blue);
  }
}
