.drop-down-box {
  background-color: white;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--border-radius-full-rounded);
  box-shadow: 0 0 6px 0 var(--light-gray);
  padding: 2.5% 5%;
  transition: var(--hover-transition-time) box-shadow;
  position: relative;
  > svg {
    fill: var(--dark-gray);
    width: 8%;
    aspect-ratio: 1;
    margin-right: 2%;
    transition: var(--hover-transition-time) fill;
  }
  .drop-down-input {
    border: none;
    width: 85%;
    font-size: var(--font-size-medium);
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &.focused {
    box-shadow: 0 0 6px 0 var(--light-blue);
    > svg {
      fill: var(--light-blue);
    }
  }
  .MuiChip-root {
    background-color: var(--dark-blue);
    // position: absolute;
    span {
      color: white;
      font-family: var(--our-font-bold);
      font-size: 0.9rem;
    }
  }
}

@media all and (min-width: 820px) {
  .drop-down-box {
    width: auto;
    cursor: pointer;
    padding: 2% 2%;
    > svg {
      width: 2em;
    }
    .drop-down-input {
      font-size: var(--font-size-small);
    }
    &:hover {
      box-shadow: 0 0 6px 0 var(--light-blue);
      > svg {
        fill: var(--light-blue);
      }
    }
  }
}
