.doctor-details {
  background-color: #f0f0f0;
  box-sizing: border-box;
  border: thin solid var(--very-light-gray);
  box-shadow: 2px 2px 7px 1px var(--light-gray);
  position: fixed;
  top: 2vh;
  right: 2vh;
  width: 45vw;
  height: 96vh;
  display: none;
  border-radius: var(--border-radius-round-corners);
  z-index: 100;
  padding: 1.5em;
  &.open {
    display: block;
  }
  > .top-div {
    display: flex;
    // background-color: green;
    > .doctor-profile-picture {
      margin-right: 1em;
      > img {
        width: 10em;
        height: 10em;
        object-fit: cover;
        border-radius: 20px;
      }
    }
    > .doctor-info {
      //   background-color: aqua;
      > h2 {
        // background-color: yellow;
        font-size: var(--font-size-small);
        display: flex;
        align-items: center;
        margin-bottom: 0.3em;
        > svg {
          margin-right: 0.2em;
        }
        > span {
          font-family: our-font-thin;
        }
      }
      > .doctor-name {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      > .doctor-specialty {
        > svg {
          color: var(--light-blue);
        }
      }
      > .doctor-location {
        > svg {
          color: red;
        }
      }
      > .doctor-rating {
        > .css-ryrseu-MuiRating-root {
          font-size: 1.7rem;
        }
      }
    }
  }
  > .close-btn {
    position: absolute;
    top: 1%;
    right: 1%;
    cursor: pointer;
    &:hover > svg {
      fill: var(--light-blue);
    }
  }
}
