#search-form {
  display: flex;
  flex-direction: column;
  //   background-color: greenyellow;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  //   box-shadow: 2px 2px 10px 2px #dddddd;
  //   border-radius: var(--border-radius-round-corners);
}
#search-button {
  //Made bigger to have more contrast on the hero section
  width: 100%;
  aspect-ratio: 1/0.15;
  margin-top: 2em;
  svg {
    width: 2.5em;
  }
}

// @media all and (min-width: 820px) {
//   #search-button {
//     //Made bigger to have more contrast on the hero section
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     height: 5em;
//     svg {
//       width: 2.5em;
//     }
//   }
//   #search-form {
//     display: flex;
//     background-color: greenyellow;
//     justify-content: center;
//     margin: 2em 0;
//   }
// }
