//Mobile Styles (Mobile first)
.logo {
  width: 7em;
  cursor: pointer;
  svg {
    transition: filter var(--hover-transition-time);
  }
  &:hover {
    svg {
      filter: brightness(75%);
    }
  }
}
//Desktop Styles
@media all and (min-width: 820px) {
  .logo {
    width: 10em;
  }
}
