//Mobile Styles
.header {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-bar {
    ul {
      justify-content: space-between;
      display: flex;
      li {
        margin-left: 1em;
      }
    }
  }
}
//Desktop Styles
@media all and (min-width: 820px) {
  .header {
    .nav-bar {
      ul {
        li {
          margin-left: 2em;
        }
      }
    }
  }
}
